/*
selected tag {
    property: value;
}
*/

h1 {
    color: blueviolet;
}

li {
    /* color: #0f0; */
    color: rgb(0,255,0);
}

p {
    background-color: #ccc;
}

h4 {
    color: rgba(255, 0, 0, 0.5);
}